<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  Name <input type="text" name="name"><br>

  Titles<br>
  <ul>
    <% Title.all.each do |title| %>
      <li><input type="checkbox" name="titles[]" value="<%=title.id%>" id="<%=title.name%>"></li>
    <% end %>
  </ul>
  <h2>Create New Title</h2>
  <input type="text" name="title">

  <h2>Landmarks</h2>
  <ul>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="landmarks[]" value="<%=landmark.id%>" id="<%=landmark.name%>">
    <% end %>
  </ul>
  <input type="submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
